@font-face {
    font-family: "Replica-Mono";
    src: url("Replica-Mono.eot");
    src: url("Replica-Mono.eot") format("embedded-opentype"), url("Replica-Mono.woff") format("woff"), url("Replica-Mono.ttf") format("truetype"), url("Replica-Mono.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    text-rendering: geometricPrecision !important;
    -moz-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
}
