<footer class="footer">
	<div class="footer-container">
		<div class="footer-logo">
			<a href="https://www.marcreyes.ph/{% if site.url == 'https://www.marcreyes.ph' and page.url == '/' %}#" data-scroll{% else %}"{% endif %} aria-label="Visit 'Made by Connor.'">{% include custom/logo.html %}</a>
		</div>
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title">{{ site.title }}</h4>
				<nav>
					{% include core/navigation.html %}
				</nav>
			</div>
			<div class="footer-links">
				<h4 class="footer-title">More by Marc</h4>
				<nav>
					<ul class="nav">
						<li class="nav-link">
							<a href="https://www.facebook.com/marcxplanet" target="_blank" rel="noopener noreferrer" aria-label="Facebook">Facebook</a>
						</li>
						<li class="nav-link">
							<a href="https://twitter.com.marcreyesph" target="_blank" rel="noopener noreferrer" aria-label="Twitter">Twitter</a>
						</li>
						<li class="nav-link">
							<a href="mailto:hello@marcreyes.ph" target="_blank" rel="noopener noreferrer" aria-label="Contact">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<h6 class="footer-text">© {{ site.time | date: '%Y' }} <a href="https://twitter.com/{{ site.author.twitter }}" aria-label="Follow {{ site.author.name }} on Twitter.">{{ site.author.name }}</a></h6>
	</div>
</footer>
