@font-face {
    font-family: 'Circular';
    font-weight: 900;
    font-style: normal;
    src: url('circular-extrablack.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 900;
    font-style: italic;
    src: url('circular-extrablack-italic.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 800;
    font-style: normal;
    src: url('circular-black.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 800;
    font-style: italic;
    src: url('circular-black-italic.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 700;
    font-style: normal;
    src: url('circular-bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 700;
    font-style: italic;
    src: url('circular-bold-italic.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    font-style: normal;
    src: url('circular-medium.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    font-style: italic;
    src: url('circular-medium-italic.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 400;
    font-style: normal;
    src: url('circular-regular.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 300;
    font-style: normal;
    src: url('circular-book.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 300;
    font-style: italic;
    src: url('circular-book-italic.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 200;
    font-style: normal;
    src: url('circular-light.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 200;
    font-style: italic;
    src: url('circular-italic.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 100;
    font-style: normal;
    src: url('circular-thin.woff') format('woff');
}

@font-face {
    font-family: 'Circular';
    font-weight: 100;
    font-style: italic;
    src: url('circular-thin-italic.woff') format('woff');
}