/* @font-face {
    font-family: 'Titling Gothic FB';
    font-weight: 800;
    font-style: normal;
    src: url('Titling_Gothic_FB-Bold.woff2') format('woff');
} */

@font-face {
    font-family: 'Titling Gothic FB';
    font-weight: 800;
    font-style: normal;
    src: url('Titling_Gothic_FB-Medium.woff2') format('woff');
}


/* @font-face {
    font-family: 'Titling Gothic FB';
    font-weight: 400;
    font-style: normal;
    src: url('Titling_Gothic_FB-Standard.woff2') format('woff');
} */

@font-face {
    font-family: 'Titling Gothic FB';
    font-weight: 400;
    font-style: normal;
    src: url('Titling_Gothic_FB-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'Titling Gothic FB';
    font-weight: 200;
    font-style: normal;
    src: url('Titling_Gothic_FB-Light.woff2') format('woff');
}

@font-face {
    font-family: 'Titling Gothic FB';
    font-weight: 100;
    font-style: normal;
    src: url('Titling_Gothic_FB-Thin.woff2') format('woff');
}